<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Gainful Achivement System</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/achievement">Achievement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/activities">Activities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/topRecords">Top records</a>
                </li>

            </ul>
            <form id="langForm" action="" method="get">
                <a href="?lang=pl"> <img src="/images/poland.png" width="30" height="20"  title="PL"> </a>
                <a href="?lang=pl">PL</a> |
                <a href="?lang=en"> <img src="/images/united-kingdom.png" width="30" height="20"  title="EN"> </a>
                <a href="?lang=en">EN</a> |
                <a href="?lang=de"> <img src="/images/germany.png" width="30" height="20"  title="DE"> </a>
                <a href="?lang=de">DE</a>
            </form>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
            </form>
        </div>
    </nav>
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h3 th:text="'Welcome to our application' + ${username}"></h3>
        <p th:text="${#dates.format(datetime, 'dd MMM yyyy HH:mm')}"></p>


        <div class="card-deck">
            <div class="card">
                <img src="/images/user_icon.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">User info</h5>
                    <p class="card-text">Points: </p>
                    <p class="card-text">Rank: </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Last achievement</h5>
                    <p class="card-text">?????????????????????????????????</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <br>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Last activities</h5>
                <table class="table table-hover">

                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Activities</th>
                        <th scope="col">Distance</th>
                        <th scope="col">Calories</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Run</td>
                        <td>1800m</td>
                        <td>80</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Bike</td>
                        <td>8800m</td>
                        <td>330</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Walk</td>
                        <td>600m</td>
                        <td>40</td>
                    </tr>
                    </tbody>
                </table>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>

    </div>
</div> <!-- /container -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</body>
</html>